.AccountListGroup{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 10px 5px 10px;
}

.AccountsList {
    width: 100%;
    margin: auto;
}

.AccountInfo {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 10px;
}

.Name, .NameInfo {
/*    margin: 4px;*/
    padding: 3px;
    display: inline;
}

.Email, .EmailInfo {
    /*margin: 4px;*/
    padding: 3px;
    display: inline;
}
