.AccountsList {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 12px;
    padding: 1px;
    width: 100%;
    margin: auto;
}

.Account, .AccountInfo {

    background-color: rgba(0, 0, 0, 0.03);
    margin: 10px;
}

.Name, .NameInfo {
    margin: 4px;
    padding: 3px;
    display: inline;

}

.Email, .EmailInfo {
    margin: 4px;
    padding: 3px;
    display: inline;
}