.ListDoctors{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 1px 20px 30px 20px;
}

.Card {
    background-color: #ffffff;
}

.account-refresh-button-div{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
}