@media all and (min-width: 480px) {
    .EditAccount {
        padding: 10px 0;
        /*margin-left: 60px;*/
        /*margin-right: 60px;*/
    }

    .EditPassword {
        padding: 10px 0;
        margin-left: 10px;
        margin-right: 10px;
    }
}
