@media all and (min-width: 480px) {
    .EditAccount {
        padding: -60px 0;
    }

    .EditAccount form {
        margin: 0 auto;
        max-width: 520px;
    }

    #containerForButtons{
        padding-right: 5px;
        padding-left: 5px;
    }

    #rowForEditButton{
        width: 100%;
    }

    #refreshColumn{
        padding-left: 1px;
        align-items: center;
    }

    .lastLoginDateAndIp {
        margin-bottom: 1rem;
    }
}
