@media all and (min-width: 480px) {
    .ResetPasswordByAdmin {
        padding: -60px 0;
        width: 100%;
    }

    .ResetPasswordByAdmin button {
        margin: 0 auto;
        max-width: 520px;
    }

}
